public/js/obabel-wasm filter=lfs diff=lfs merge=lfs -text
public/js/webina filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
decoys_final.sdf filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.wasm !text !filter !merge !diff
*.data !text !filter !merge !diff
*.png !text !filter !merge !diff
*.sdf !text !filter !merge !diff
