.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.old
docs/*
*.bak
*.old
*.orig
icons

# Remove these in time
src/libs/ToCopy/obabel-wasm

docker_compiling

wasm-compile/vina/out/
wasm-compile/vina/support/AutoDock-Vina-1.2.3/
wasm-compile/vina/support/boost_1_82_0/
wasm-compile/vina/support/emsdk/
package-lock.json

src/compile_errors.json

.temp_cache/
debug_with_assertions
